<!-- src/main/resources/templates/Daniel/editEquipment.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Equipment</title>
</head>
<body>

<h2>Edit Equipment</h2>

<form action="/booking/editEquipment" method="post" th:object="${booking}">
    <input type="hidden" th:field="*{id_equipment}"/>

    <label for="category">Category:</label>
    <input type="text" id="category" th:field="*{category}" required><br><br>

    <label for="description">Name:</label>
    <input type="text" id="description" th:field="*{description}" required><br><br>

    <label for="label">Label:</label>
    <input type="text" id="label" th:field="*{label}" required><br><br>

    <input type="submit" value="Save Changes">
</form>

</body>
</html>
