<!-- src/main/resources/templates/Daniel/findAllEquipment.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Equipment</title>
</head>
<body>

<form action="/booking/addNewEquipment" method="post"  th:object="${newBooking}">
    <label for="category">Category:</label>
    <input type="text" id="category" name="category"  required><br><br>

    <label for="description">description:</label>
    <input type="text" id="description" name="description"  required><br><br>

    <label for="label">Label:</label>
    <input type="text" id="label" name="label"  required><br><br>

    <input type="submit" value="Submit">
</form>

<h2>All Equipment</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Category</th>
        <th>description</th>
        <th>Label</th>
        <!-- Add more columns based on your entity fields -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="booking : ${equipmentList}">
        <td th:text="${booking.id_equipment}"></td>
        <td th:text="${booking.category}"></td>
        <td th:text="${booking.description}"></td>
        <td th:text="${booking.label}"></td>
        <td>
            <form th:action="@{/booking/editEquipment}" method="get">
                <input type="hidden" name="equipmentId" th:value="${booking.id_equipment}">
                <button type="submit">Edit</button>
            </form>
            <form th:action="@{/booking/deleteEquipment}" method="post">
                <input type="hidden" name="equipmentId" th:value="${booking.id_equipment}">
                <button type="submit">Delete</button>
            </form>
            <br>
        </td>
        <!-- Add more cells based on your entity fields -->
    </tr>
    </tbody>
</table>
</body>
</html>
