<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>借用中清單</title>
    <th:block th:include="head/head :: headerfiles"></th:block>
</head>

<body>

<!-- ======= Header ======= -->
<header th:insert="navbar/navbar_authority :: header"> </header>

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>借用中清單</h2>
                <ol>
                    <li>教室/設備借用</li>
                    <li>借用中清單</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs Section -->

    <section class="borrowList text-center width: 70%">
        <div class="container">
            <div class="card p-3">
                <table class="table table-hover center-table mx-auto">
                    <thead>
                    <tr>
                        <th scope="col">申請編號</th>
                        <th scope="col">申請時間</th>
                        <th scope="col">申請人</th>
                        <th scope="col">身分</th>
                        <th scope="col">系級</th>
                        <th scope="col">抵用證件</th>
                        <th scope="col">狀態</th>
                        <th scope="col">歸還</th>
                        <th scope="col">詳細資料</th>
                    </tr>
                    </thead>
                    <!--這邊應該要丟參數吧？-->
                    <tbody>
                    <tr th:each="borrow : ${borrowList}">
                        <th scope="row" class="align-middle" th:text="${borrow.id_borrow}"></th>
                        <td class="align-middle" th:text="${borrow.timestamp}"></td>
                        <td class="align-middle" th:text="${borrow.name}"></td>
                        <td class="align-middle" th:text="${borrow.identity}"></td>
                        <td class="align-middle" th:text="${borrow.department_grade}"></td>
                        <td class="align-middle" th:text="${borrow.identitycard}"></td>
                        <td class="align-middle" th:text="${borrow.status}"></td>
                        <td>
                            <form id="returnForm" th:action="@{'/borrow/return'}" method="get">
                                <input type="hidden" name="borrowId" th:value="${borrow.id_borrow}">
                                <button type="button" class="custom-button ms-2" onclick="submitReturnForm()">歸還</button>
                            </form>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <a type="add" class="btn btn-primary btn-sm custom-button" th:href="@{/borrow/borrowDetails/{id}(id=${borrow.id_borrow})}">查看詳細資料</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script type="text/javascript" th:src="@{/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
<script type="text/javascript" th:src="@{/assets/vendor/aos/aos.js}"></script>
<script type="text/javascript" th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<script>
    function submitReturnForm() {
        document.getElementById('returnForm').submit();
    }

</script>

<!-- Template Main JS File -->
<script type="text/javascript" th:src="@{/assets/js/main.js}"></script>

</body>

</html>