<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>租借申請</title>
</head>
<body>

<h2>租借申請</h2>

<form action="/borrowclassroom/addNewBorrowClassroom" method="post">

    <!-- Borrow Fields -->
    <label for="name">姓名：</label>
    <input type="text" id="name" name="borrow.name" required><br>

    <label for="identity">身分：</label>
    <input type="text" id="identity" name="borrow.identity" required><br>

    <label for="phone">手機號碼：</label>
    <input type="tel" id="phone" name="borrow.phone" required><br>

    <label for="identitycard">抵用證件：</label>
    <input type="text" id="identitycard" name="borrow.identitycard" required><br>

    <label for="departmentGrade">部門/年級：</label>
    <input type="text" id="departmentGrade" name="borrow.departmentGrade" required><br>

    <!-- BorrowClassroom Fields -->
    <!-- Classroom Fields -->
    <label for="classroom">教室：</label>
    <select id="classroom" name="borrowCForm.classroom">
    <option th:each="classroom : ${classrooms}" th:value="${classroom.idClassroom}" th:text="${classroom.name}"></option>
    </select><br>

    <label for="teacher">教師：</label>
    <input type="text" id="teacher" name="borrowClassroom.teacher" required><br>

    <label for="purpose">用途：</label>
    <input type="text" id="purpose" name="borrowClassroom.purpose" required><br>

    <label for="note">備註：</label>
    <input type="text" id="note" name="borrowClassroom.note"><br>

    <input type="submit" value="提交">
</form>

</body>
</html>
