<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>變更密碼</title>
    <th:block th:include="head/head :: headerfiles"></th:block>

    <script>
        function checkPasswordMatch() {
            var password = document.getElementById("setPassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            if (password !== confirmPassword) {
                alert("密碼不匹配!");
            }
        }

    </script>
</head>

<body>

<!-- ======= Header ======= -->
<header th:insert="navbar/navbar_authority :: header"> </header>

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h4>變更密碼</h4>
                <ol>
                    <li>登入</li>
                    <li>變更密碼</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs Section -->
    <section class="changePassword">
        <div class="container">
            <form action="/member/editMember" method="post" >
                <div class="mb-4 text-center mx-auto" style="width: 50%;">
                    <label for="oldPassword" class="form-label">舊密碼</label>
                    <input type="password" class="form-control" id="oldPassword" name="oldPassword" required>
                </div>
                <div class="mb-4 text-center mx-auto" style="width: 50%;">
                    <label for="newPassword" class="form-label">新密碼</label>
                    <input type="password" class="form-control" id="newPassword">
                </div>
                <div class="mb-4 text-center mx-auto" style="width: 50%;">
                    <label for="confirmPassword" class="form-label">確認新密碼</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required onblur="checkPasswordMatch()">
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary custom-button">更改密碼</button>
                </div>
            </form>
        </div>
    </section>
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script type="text/javascript" th:src="@{/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
<script type="text/javascript" th:src="@{/assets/vendor/aos/aos.js}"></script>
<script type="text/javascript" th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script type="text/javascript" th:src="@{/assets/js/main.js}"></script>

</body>

</html>