<!-- src/main/resources/templates/Daniel/editEquipment.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Booking</title>
</head>
<body>

<!--<h2>Edit Booking</h2>-->

<!--<form action="/booking/editBooking" method="post" th:object="${booking}">-->
<!--    <input type="hidden" th:field="*{id_booking}"/>-->

<!--    <label for="name">name:</label>-->
<!--    <input type="text" id="name" th:field="*{name}" required><br><br>-->

<!--    <label for="bookingDate">Name:</label>-->
<!--    <input type="date" id="bookingDate" th:field="*{bookingDate}" required><br><br>-->

<!--    <input type="submit" value="Save Changes">-->
<!--</form>-->

</body>
</html>
