<!-- src/main/resources/templates/Daniel/findAllEquipment.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Booking</title>
</head>
<body>

<form action="/booking/addNewBooking" method="post"  th:object="${newBooking}">
    <label for="name">name:</label>
    <input type="text" id="name" name="name"  required><br><br>
    <label for="booking_date">Booking Date:</label>
    <input type="date" id="booking_date" name="booking_date" required><br><br>

    <input type="submit" value="Submit">
</form>

<h2>All Booking</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>booking_date</th>

        <!-- Add more columns based on your entity fields -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="booking : ${bookingList}">
        <td th:text="${booking.id_booking}"></td>
        <td th:text="${booking.name}"></td>
        <td th:text="${#dates.format(booking.booking_date, 'yyyy-MM-dd')}"></td> <!-- Format booking_date -->

        <td>
            <form th:action="@{/booking/editBooking}" method="get">
                <input type="hidden" name="id_booking" th:value="${booking.id_booking}">
                <button type="submit">Edit</button>
            </form>
            <form th:action="@{/booking/deleteBooking}" method="post">
                <input type="hidden" name="id_booking" th:value="${booking.id_booking}">
                <button type="submit">Delete</button>
            </form>
            <br>
        </td>
        <!-- Add more cells based on your entity fields -->
    </tr>
    </tbody>
</table>
</body>
</html>
