<!-- src/main/resources/templates/Daniel/findAllEquipment.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Booking</title>
</head>
<body>

<form action="/booking/addNewBooking" method="post"  th:object="${newBooking}">
    <label for="name">name:</label>
    <input type="text" id="name" name="name"  required><br><br>
    <label for="bookingDate">Booking Date:</label>
    <input type="date" id="bookingDate" name="bookingDate" required><br><br>


    <input type="submit" value="Submit">
</form>

<h2>All Booking</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>bookingDate</th>

        <!-- Add more columns based on your entity fields -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="booking : ${bookingList}">
        <td th:text="${booking.id_booking}"></td>
        <td th:text="${booking.name}"></td>
        <td th:text="${#dates.format(booking.bookingDate, 'yyyy-MM-dd')}"></td> <!-- Format bookingDate -->

        <!--        <td th:text="${booking.bookingDate}"></td>-->
<!--        <td>-->
<!--            <form th:action="@{/booking/editEquipment}" method="get">-->
<!--                <input type="hidden" name="equipmentId" th:value="${booking.id_equipment}">-->
<!--                <button type="submit">Edit</button>-->
<!--            </form>-->
<!--            <form th:action="@{/booking/deleteEquipment}" method="post">-->
<!--                <input type="hidden" name="equipmentId" th:value="${booking.id_equipment}">-->
<!--                <button type="submit">Delete</button>-->
<!--            </form>-->
<!--            <br>-->
<!--        </td>-->
        <!-- Add more cells based on your entity fields -->
    </tr>
    </tbody>
</table>
</body>
</html>
