<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="/">資管系教室預約系統</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/calendar">教室預約狀況總覽</a></li>
                <li class="dropdown"><a href="#booking"><span>教室預約</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/booking/add">預約申請</a></li>
                        <li><a href="/booking/list">申請清單</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#borrow"><span>教室/設備借用</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/borrow/addBorrow">借用申請</a></li>
                        <li><a href="/borrow/review">申請中清單</a></li>
                        <li><a href="/borrow/borrowing">借用中清單</a></li>
                        <li><a href="/borrow/returned">已歸還清單</a></li>
                        <li><a href="/borrow/list">設備借用紀錄</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#equipment"><span>設備管理</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/equipment/addNewEquipment">新增設備</a></li>
                        <li><a href="/equipment/list">設備清單</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto " href="/login">登入</a></li>
                <li class="dropdown"><a href="#"><span>設備管理</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/member/findAll">帳號清單</a></li>
                        <li><a href="/logout">登出</a></li>
                    </ul>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>

