<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>$Title$</title>
</head>
<body>

  <h2>Home pageeee</h2>
  <h3>equipment</h3>
  <p>Go to <a href="equipment/findAll">find all equipments</a></p>
  <p>Go to <a href="equipment/list">list</a></p>
  <p>Go to <a href="equipment/addNewEquipment">addNewEquipment</a></p>

  <h3>member</h3>
  <p>Go to <a href="/login">LOGIN</a></p>
  <p>Go to <a href="member/findAll">find all member</a></p>

  <h3>classroom</h3>
  <p>Go to <a href="classroom/findAll">find all classroom</a></p>

  <h3>borrow</h3>
  <p>Go to <a href="borrow/findAll">find all borrow</a></p>

  <h3>booking</h3>
  <p>Go to <a href="booking/findAll">find all booking</a></p>
  <p>Go to <a href="booking/add">add booking</a></p>
  <p>Go to <a href="booking/list">booking list</a></p>

</body>
</html>