
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <th:block th:include="head/head :: headerfiles"></th:block>
    <script th:src="@{https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js}" ></script>

    <script th:inline="javascript">

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var currentDate = new Date().toISOString().split('T')[0];
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialDate: currentDate,
                initialView: 'timeGridWeek',
                nowIndicator: true,
                headerToolbar: {
                    left: 'prev',
                    right: 'next',
                    center: 'title',
                },
                navLinks: true, // can click day/week names to navigate views
                editable: false ,
                selectable: false,
                selectMirror: true,
                handleWindowResize : true,
                allDaySlot: false,
                slotEventOverlap: true,
                displayEventTime:false,
                slotDuration:'00:10:00',
                slotLabelInterval:'01:00:00',
                slotMinTime:'08:00:00',
                eventColor: '#3F566D',
                dayMaxEvents: true, // allow "more" link when too many events
                events: [[${testJson}]],
                eventClick: function(info) {
                    var eventObj = info.event;
                    var baseUrl = window.location.origin;
                    window.location.href = baseUrl + '/booking/booking_detail?id_booking=' + eventObj.id;

                },
                // eventMouseEnter: function(info) {
                //     var eventObj = info.event;
                //     alert('enter ' + eventObj.title);
                // },
                // eventMouseLeave: function(info) {
                //     var eventObj = info.event;
                //     alert('leave ' + eventObj.title);
                // },
                // eventDidMount: function(info) {
                //     var tooltip = new Tooltip(info.el, {
                //         title: info.event.extendedProps.id,
                //         placement: 'top',
                //         trigger: 'hover',
                //         container: 'body'
                //     });
                // },
            });

            calendar.render();
        });

    </script>

    <style>

        body {
            height: 50%;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
        }

        #calendar {
            height: 95vh;
            margin:  0 10vw;
            padding-top: 15vh;

        }

    </style>
</head>
<body>
<header th:insert="navbar/navbar_authority :: header"> </header>

<div id='calendar'></div>

</body>
</html>
